**/__pycache__

# ploty offline generated visualizations
visualization.html

# ploty generated helper html
gantt-group-tasks-together.html

# node modules
/node_modules

# script to seed the DB with partially filled objects
quick_seed.py
