{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}YTLA{% endblock %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-datetimepicker.min.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>YTLA Data Search</h1>
        {{ util.flashed_messages(dismissible=True) }}
        <div class="row">
            <div class='col-sm-6'>
                {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('.static', filename='moment.min.js')}}"></script>
    <script src="{{url_for('.static', filename='bootstrap-datetimepicker.min.js')}}"></script>
    <script type="text/javascript">
        $(function () {
            $('#begin_dtpicker').datetimepicker();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#end_dtpicker').datetimepicker();
        });
    </script>
{% endblock %}
